@import "./brand-colors.css";
@tailwind base;
@tailwind components;

/* cta-button */
.cta-button {
  @apply shadow-inset-teal bg-teal-500 text-teal-900 font-bold;
}

/* image-radio-button */
.image-radio-button {
  @apply border border-transparent border-solid flex rounded-sm p-1 cursor-pointer;
}

input:checked + .image-radio-button,
.image-radio-button:hover {
  transition: 0.5s border-color ease;
  @apply border-gray-100;
}

.image-radio-button-inner {
  @apply rounded-sm overflow-hidden flex relative border-none;
}

.image-radio-button-inner img {
  @apply border-none;
}

@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  @apply bg-purple-900;
}

/* TODO: figure about better way to apply styles to swipeable view */
[data-swipeable="true"] {
  display: flex;
}
